@tailwind base;
@tailwind components;
@tailwind utilities;


/* Component Css Style Some Coutome Code */

/* Banner Section Css */

.banner {
  background-image: url('./assets/more/banner.png');
}

/* Common Css */
.banner,
.features,
.footer-bg,
.footerBottom {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* Features Section */

.features {
  background-image: url('./assets/more/1.png');

}

/* Footer css */
.footer-bg {
  background-image: url('./assets/more/footer.jpg');
}

.footerBottom {
  background-image: url('./assets/more/footerBg.jpg');
}